<html>
    <head>
        <title>
            Guess who is
        </title>
        <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/stylesheets/custom.css">
    </head>
    <body>
        <div class="container">
            <div class="hero-unit">
                <div class="row">
                    <div class="span3">
                        <h1 class="logo">Guess who is</h1>
                    </div>
                    <div class="span3">
                        <img src="/images/fpo-picture.gif"> Ramon One
                    </div>
                </div>
                <div class="row">
                    <div class="well">
                        <h1>You got 2313 points!!!</h1>
                    </div>
                </div>
            <div>
        </div>
    </body>
</html>